---
interface Props {
  class?: string;
  markClass?: string;
  textClass?: string;
}

const { class: className = '', markClass = 'h-8 w-8', textClass = 'text-xl md:text-2xl' } = Astro.props;
---

<a href="/" class={`inline-flex flex-col items-center ${className}`}>
  <svg viewBox="0 0 100 80" class={markClass} fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <g stroke="#ac9351" stroke-width="2.5">
      <path d="M50 40 C46 27,46 12,50 4 C54 12,54 27,50 40 Z" />
      <path d="M50 40 C46 27,46 12,50 4 C54 12,54 27,50 40 Z" transform="rotate(60 50 40)" />
      <path d="M50 40 C46 27,46 12,50 4 C54 12,54 27,50 40 Z" transform="rotate(120 50 40)" />
      <path d="M50 40 C46 27,46 12,50 4 C54 12,54 27,50 40 Z" transform="rotate(180 50 40)" />
      <path d="M50 40 C46 27,46 12,50 4 C54 12,54 27,50 40 Z" transform="rotate(240 50 40)" />
      <path d="M50 40 C46 27,46 12,50 4 C54 12,54 27,50 40 Z" transform="rotate(300 50 40)" />
    </g>
    <line x1="30" y1="58" x2="70" y2="58" stroke="#0c0d0d" stroke-width="2" />
  </svg>
  <span class={`mt-1 font-logo font-black leading-none tracking-tight text-ink ${textClass}`}>
    Art of Beauty by Maelyn
  </span>
</a>
