---
interface Props {
  class?: string;
  imgClass?: string;
}

const { class: className = '', imgClass = 'h-9' } = Astro.props;
---

<a href="/" class={`inline-flex items-center ${className}`}>
  <img
    src="/images/logo-mark.png"
    alt="Art of Beauty by Maelyn"
    class={`w-auto object-contain ${imgClass}`}
  />
</a>
